<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="license2014"                value=".license2014"></add>
    <add key="Dbaccess_producao"          value=".Dbaccess_producao"></add>
    <add key="P12_COMPILA"                value=".P12_COMPILA"></add>
    <add key="P12_SLAVE1"                 value=".P12_SLAVE1"></add>
    <add key="P12_SLAVE2"                 value=".P12_SLAVE2"></add>
    <add key="P12_SLAVE3"                 value=".P12_SLAVE3"></add>
    <add key="P12_SLAVE4"                 value=".P12_SLAVE4"></add>
    <add key="Dbaccess_NFE"               value=".Dbaccess_NFE"></add>
    <add key="Dbaccess_TAF_Producao"      value=".Dbaccess_TAF_Producao"></add>
    <add key="P12_COLABORACAO"            value=".P12_COLABORACAO"></add>
    <add key="P12_WEB_SERVICE"            value=".P12_WEB_SERVICE"></add>
    <add key="P12_WORKFLOW"               value=".P12_WORKFLOW"></add>
    <add key="P12_MASTER"                 value=".P12_MASTER"></add>
    <add key="TSS_30_PRODUCAO_NFE"        value=".TSS_30_PRODUCAO_NFE"></add>
    <add key="TSS_Taf_Producao"           value=".TSS_Taf_Producao"></add>
    <add key="P12_PROD_SMARTCLIENT_HTML"  value=".P12_PROD_SMARTCLIENT_HTML"></add>
  </appSettings>
</configuration>